!!!
%html
  %head
    %title WhiteRabbit
    = csrf_meta_tags
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
  %body
    = yield
